<body>
  <div class="login-container">
      <h1>Login</h1>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <div class="input-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" [(ngModel)]="userData.username" required>
          </div>
          <div class="input-group">
            <label for="phone-number">Phone Number</label>
            <input type="tel" id="phone-number" name="phone-number" [(ngModel)]="userData.phoneNumber" required>
          </div>
          <div class="input-group">
            <label for="email">Email ID</label>
            <input type="email" id="email" name="email" [(ngModel)]="userData.email" required>
          </div>
          <div class="input-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="userData.password" required>
              <input type="checkbox" onclick="myFunction()">Show Password
          </div>
          <button type="submit" [disabled]="userForm.invalid">Create Account</button>
      </form>
      <br>
      <script>
        function myFunction() {
          var passwordInput = document.getElementById("password");
          var showPasswordCheckbox = document.getElementById("showPassword");
          if (showPasswordCheckbox.checked) {
            passwordInput.type = "text";
          } else {
            passwordInput.type = "password";
          }
        }
        </script>
  </div>
</body>
